/* test7.css */
body {
    margin: 0px;
    padding: 0px;
  }
  .container {
    /* width: 1000px; */
    height: 100vh;
    background-color: #eee;
  }
  
  .item {
    margin: 10px;
    padding: 10px;
    background-color: yellow;
  }
  
  .big-item1, .big-item2 {
    display: grid;
    margin: 20px;
  }
  
  /*
  .big-item1 {
    grid-template-columns: repeat(3, 200px);
  }
  
  .big-item2 {
    grid-template-columns: repeat(4, 100px);
  }
  */
  
  .big-item1 {
    grid-template-rows: 100px 200px;
  }
  
  .big-item2 {
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(3, 200px);
  }
  